.card-comment {
  margin: 40px 0 80px 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 24px;
  border: 3.98px solid
    radial-gradient(
      83.14% 78.52% at -12.32% -18.69%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 4px 4px 1px var(--white) inset;
}
.comment-container {
  padding: 24px;
}
.comment-container p {
  font: var(--headline5);
  margin-bottom: 24px;

  /* font-weight: normal; */
  color: var(--purple);
}
.comment-container span {
  font: var(--caption);
  opacity: 0.5;
}
.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.profile-image-container img {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .card-comment {
    text-align: center;
  }
  .comment-container {
    padding: 80px;
  }
  .comment-container p {
    font: var(--headline4);
  }
  .comment-container span {
    font: var(--headline5);
  }
  .profile-image-container img {
    width: 80px;
  }
}
