.testimony {
  padding-block-start: 40px;
  padding-block-end: 40px;
}
.testimony-title {
  align-self: flex-start;
  background: var(--purple);
  font: var(--headline5);
  color: var(--white);
  padding-block-start: 4px;
  scroll-padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-decoration: none;
  box-shadow: -4px 4px 0 var(--white);
}
.testimony-image img {
  max-inline-size: 100%;
}
.testimony-image {
  text-align: center;
}
.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .testimony-description,
  .testimony-image {
    flex: 1;
  }

  .wrapper .testimony:nth-of-type(odd) .testimony-image {
    /* outline: 1px solid rgb(205, 50, 135); */
    order: 2;
  }
  .wrapper .testimony:nth-of-type(odd) .testimony-description {
    /* outline: 1px solid limegreen; */
    order: 1;
  }
}
